// Import bootstrap and fontawesome
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

// @font-face {
//     font-family: "Playfair Display";
//     font-style: italic;
//     font-weight: bold;
//     src: url("fonts/playfair-display-latin-400.eot") format("eot"),
//     url("fonts/playfair-display-latin-400.woff2") format("woff2"),
//     url("fonts/playfair-display-latin-400.woff") format("woff"),
//     url("fonts/playfair-display-latin-400.svg#playfair-display") format("svg");
// }
@import "bootstrap";
@import "font-awesome";
@import "roboto-fontface";





/* override bootstrap css */

.btn {
    text-transform: uppercase;
}

p,
li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.btn-default {
    &:hover {
        color: $btn-primary-color;
        background-color: $btn-primary-bg;
        border-color: $btn-primary-border;
    }
}

.btn-primary {
    &.border-hover:hover {
        border-color: $btn-primary-border;
    }
    &:hover {
        color: $btn-default-color;
        background-color: $btn-default-bg;
        border-color: $btn-default-border;
    }
}

.navbar {
    .navbar-nav {
        >li>a {
            padding: 25px 15px;
            &:hover {
                border-bottom: 1px solid $navbar-inverse-link-hover-color;
            }
        }
    }
    .collapse.navbar-collapse {
        >button {
            margin-top: 21px;
        }
    }
}

section {
    @include clearfix;
}