// Import bootstrap and fontawesome
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import "bootstrap";
@import "font-awesome";






/* override bootstrap css */

.btn-default {
    &:hover {
        color: $btn-primary-color;
        background-color: $btn-primary-bg;
        border-color: $btn-primary-border;
    }
}

.btn-primary {
    &:hover {
        color: $btn-default-color;
        background-color: $btn-default-bg;
        border-color: $btn-default-border;
    }
}

.navbar {
    .navbar-nav {
        >li>a {
            padding: 25px 15px;
            &:hover {
                border-bottom: 1px solid $navbar-inverse-link-hover-color;
            }
        }
    }
    .collapse.navbar-collapse {
        >button {
            margin-top: 21px;
        }
    }
}