/*navbar color change*/

$navbar-inverse-link-color:#fff;
$navbar-inverse-link-hover-color:#99cc00;
$navbar-inverse-link-hover-bg:#222;

$navbar-inverse-bg:#010101;
$navbar-inverse-border:#010101;
$navbar-inverse-link-hover-bg:#010101;


/* btn color */

$btn-default-color:#99cc00;
$btn-default-bg:#fff;
$btn-default-border:#fff;

$btn-primary-color:#fff;
$btn-primary-bg:#99cc00;
$btn-primary-border:#99cc00;

$btn-border-radius-large:0px;
$btn-border-radius-base:0px;